    <h1>Contact Us</h1>
    <p>Ini halaman contact us</p>
    <form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Nama</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Nama">
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">NPM</label>
      <select id="disabledSelect" class="form-select"  placeholder="NPM">
      </select>
    </div>
     <div class="mb-3">
      <label for="disabledSelect" class="form-label">Pesan</label>
      <select id="disabledSelect" class="form-select"  placeholder="Pesan">
      </select>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
        <label class="form-check-label" for="disabledFieldsetCheck">
          Can't check this
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>